<%- include('partials/header') %>
<!-- <div class="container">
    <%- include('partials/form', {title: 'Student Login Page', type: 'login'}) %>
</div> -->

<div class="container">
    <section>
        <%- include('partials/post_card') %>
    </section>
</div>
<%- include('partials/footer') %>